body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    width:100%;
    height: 62vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
.header-image{
    position:absolute;
    top: -20vh;
    z-index: -1;
    left: 0%;
}
.search p{
    outline: none;
    border: none;
    color: gray;
    font-size: 15px;
    padding-right: 10px;
    border-right: 1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;
}
.logo{
    border-radius: 50%;
    width: 36px;
    height: 46px;
    padding: 8px;

    background: #fff;
    border: 2px solid rgb(213, 27, 27);
    color: rgb(199, 48, 48);
    text-align: center;

    font: 32px Arial, sans-serif;
}
.head h3{
    font-size:"2.1em";
    color:#fff;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search{
    display: flex;
    width: 55vw;
    align-items: center;
    justify-items:flex-start;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px 0;
}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search i:first-child{
    font-size: 20px;
    color: rgb(252,119,119);
    padding-left: 10px;
    padding-right: 10px;
}
.search i{
    color: gray;
    padding-left: 10px;
}
.main h2{
    padding-left: 15%;
    font-size: 25px;
    letter-spacing: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #192F60;
    opacity: 1;
}
.main h5{
    padding-left: 15%;
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0px;
    text-align: left;
    color: #8C96AB;
    opacity: 1;
}

.tileContainer {
    height: 150px;
    width: 350px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    box-shadow: 0 3px 6px gray;
    float: left;
    padding-top: 10px;
}

.firstrow {
    width: 45%;
    float: left;
}

.Secondrow {
    width: 50%;
    float: left;
    margin-top: 20px;
}

.CompoHeading {
    text-align: left;
    color: #192f60;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ComposubHeading {
    text-align: left;
    color: rgb(161, 157, 157);
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

footer{
    position:relative;
    width:80%;
    float:left;
    margin-left: 0;
    margin-right: 0;
    text-align:center;
    justify-content:center;
    background-color: white;
    
}
footer hr{
    border-top:5px double rgba(255, 255, 255, 0.2);
}
footer h2{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color:#272525;
}
#emo{
  font-size: 30px;;
}
footer h3{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color:#251d1d;
}
footer h3 span{
    color:rgba(42, 34, 34, 0.7);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
footer h6{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color:#131111;
}
.logo2{
    color: black;
}

